*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;

}
.container{
    max-width: 1280px;
    margin: auto;
}
.btn{
    background-color: #DD0000;
    padding: 15px 25px;
    border-radius: 10px;
    font-weight: 600;
    color: white;
    border: none;
}
/*  Coustom style */
.banner{
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    border-radius:15px;
    margin: 15px auto;
}
.banner-left{
    padding-left: 45px;
}
.banner h2{
    font-size: 70px;
    font-weight:600;
    line-height: 70px;
   

}
.banner p{
     margin: 15px 0;
    color: #FFFFFF;
    margin-bottom: 30px;
    max-width: 65%;
}
.banner-right img{ 
    display: block;
}
.upcoming-matches{

    display:flex;
    /* background-color: green; */
    padding: 50px 0;
    gap: 20px;

}
.upcoming-matches-left{
    background-color: black;
    width: 25%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    border-radius: 15px;
    gap: 10px;

}
.upcoming-matches-left .btn:nth-child(1),
.upcoming-matches-left .btn:nth-child(2){
    background-color: white;
    color: black;
}

.upcoming-matches-right{
    /* background-color: orange; */
    flex: 1;
}
.upcoming-matches-right .card{

}
.upcoming-matches-right .card img{

    height: 180px;
    width: 100%;
}
.upcoming-matches-right .card .btn{
    background-color: white;
    color: black;
    border: 2px solid black;
    padding: 8px 18px;

}
.upcoming-matches-right .card img{
    margin: 15px 0;
    font-size: 18px;
    font-weight: 600;

}
.card-bottom{
    display: flex;
    gap: 20px;
}
